body {
    background-color: #e5e5e5;
}
header {
 background-color: white;
 width: 60%;
 margin: auto;
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 20px;
 padding-bottom: 20px;
 text-align: center;
 border-radius: 20px;
}
.name {
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 32px;
color: #80CB87;
display: inline;


}

main{
    width: 70%;
    margin: auto;
    height: 80%;
}

.main {
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    width: 60%;
    height: 670px;
    overflow-y: scroll;
}

.bookread {
    background-color: white;
}

footer {
    background-color: white;
}
.nav1 {
    display: inline;
    margin-right: 10%;
    margin-left: 10%;
}

a {
    text-decoration: none;
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin-right: 3%;
    }

.active {
        font-weight: bold;
        color: #80CB87;
    }
button {
        border-radius: 27px;
        background-color: #80CB87;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 25px;
        width: 15%;
    }
.book {
    color: #80CB87;
    border-bottom: #80cb87 solid 4px;
    width: 80%;
    margin-left: 10%;
}
p {
    width: 80%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    margin-left: 10%;

}
.other {
    display: inline-block;
    width: 25%;
    height: 590px;
    

}

.bookread {
    background-color: #80CB87;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 10%;
    padding-top: 5%;
    border-radius: 10px;
    padding-bottom: 5%;
}
.books {
    background-color: white;
    padding-top: 10%;
    padding-bottom: 5%;
    height: 590px;
    overflow-y: scroll;
}
img {
    width: 80%;
    margin: auto;
    display: block;
}
.read {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #24674B;
}
h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;

}